<div class="MCoreFooter">
	<div ng-if="!authenticated" class="row">
		<nav class="navbar navbar-default navbar-static-bottom" role="navigation">
			<div class="navbar-inner">
	
				<div class="content-container row-fluid">		
					<div class="col-md-3"></div>	
					<div class="col-md-2 landing-step">    
						<p class="landing-title text-center">Download the App</p>
						<i class="landing-icon fa fa-android fa-4x pull-left"></i>
						<p class="landing-description">Say goodbye to downloading an app for every store you walk into. Just download Looksy.</p>
					</div>
					<div class="col-md-2 landing-step">					
						<p class="landing-title text-center ">Walk by a Beacon</p>
						<i class="landing-icon fa fa-rss fa-4x pull-left"></i>
						<p class="landing-description">Just by walking into a store that is has Looksy you will recieve information about that store, whether it's hours, current deals or furture events.</p>
					</div>
					<div class="col-md-2 landing-step">					
						<p class="landing-title text-center">Take a Looksy</p>
						<i class="landing-icon fa fa-mobile fa-4x pull-left"></i>
						<p class="landing-description">Once you walk by a beacon you will have a information just waiting for you.  View, share, save information and deals the are relative to you.</p>
					</div>
					<div class="col-md-3"></div>
				</div>
			</div>
		</nav>
	</div>
</div>	