<div class="MTileFull">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="module-container">
				<div class="tile-container">
					<div class="tile-image">
						<img src="/public/img/large/{{tile.ImageName}}" />
					</div>

					<div class="tile-info">
						<span>{{tile.TileCaption}}</span></br> 
						<span class="tile-time">{{tile.TileCreationTime}}</span>
						<span class="tile-stats-favorite">							
							<span class="label label-danger"><i class="fa fa-heart"></i> {{tile.TileFavoriteCount}}</span> 
						</span>
						<span class="tile-stats">	
							<span class="label label-danger"><i class="fa fa-eye"></i> {{tile.TileVisitCount}}</span>						 
						</span>	
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>
